assets/node_modules/bootstrap/scss/*
assets/node_modules/bootstrap/js/*
assets/node_modules/bootstrap/README.md

assets/node_modules/typed.js/.github/*
assets/node_modules/typed.js/.vscode/*
assets/node_modules/typed.js/docs/*
assets/node_modules/typed.js/src/*
assets/node_modules/typed.js/assets/*

assets/node_modules/@popper.js/*

assets/node_modules/bootstrap-icons/icons/*

assets/sweetalert2/src/*

boot/assets/bootstrap/*
boot/assets/img/*
boot/assets/css/*
boot/assets/js/*
boot/assets/index.html
boot/untitled.html
boot/untitled-1.html

*.bsdesign
